bcrypt==3.2.0
cffi==1.14.6
cryptography==3.4.8
fabric==2.6.0
fake==0.8
fake-useragent==0.1.11
invoke==1.6.0
paramiko==2.7.2
pathlib2==2.3.6
psycopg2-binary==2.9.2
pycparser==2.20
PyNaCl==1.4.0
schedule==1.1.0
selenium==3.141.0
six==1.16.0
urllib3==1.26.6
user-agent==0.1.9
useragent==0.1.1
